################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Variables/.mypy_cache/3.6
/Variables/.vs/Variables/v15/.suo
