################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Variables/.mypy_cache/3.6
/Variables/.vs/Variables/v15/.suo
*.suo
/Import/__pycache__
test-reports/carsTestSuite.xml
test-reports/planesTestSuite.xml
Hangman/__pycache__/pygameInteractor.cpython-37.pyc
Hangman/__pycache__/abstractInteractor.cpython-37.pyc
Hangman/__pycache__/consoleInteractor.cpython-37.pyc
